<div class="login-dark" *ngIf="educacion">
    <form method="post" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <h2 class="sr-only">Panel de edición</h2>
        <div class="illustration"><i class="bi bi-pen"></i></div>
        <div class="form-group"><input class="form-control" type="text" id="nombreE" name="nombreE"
                [(ngModel)]="educacion.nombreE" required="" placeholder="Nombre de la Institución"></div>
        <div class="form-group"><input class="form-control" type="text" id="descripcionE" name="descripcionE"
                [(ngModel)]="educacion.descripcionE" required="" placeholder="Descripción de sus estudios">
        </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Editar educación</button></div>
    </form>
</div>