<div class="login-dark" >
    <form method="post" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <h2 class="sr-only">Panel de creación</h2>
        <div class="illustration"><i class="bi bi-code-slash"></i></div>
        <div class="form-group"><input class="form-control" type="text" id="nombreE" name="nombreE"
                [(ngModel)]="nombreE" required="" placeholder="Nombre de la Institución"></div>
        <div class="form-group"><input class="form-control" type="text" id="descripcionE" name="descripcionE"
                [(ngModel)]="descripcionE" required="" placeholder="Descripción de sus estudios">
        </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Agregar educación</button></div>
    </form>
</div>