.row{
    padding: 20px;
}
div{
    background-color: #717ac7;
}
h1, h3{
    display: inline;
}
#expLab{
    font-weight: bold;
}
#borrar{
    color: rgb(182, 0, 0);
    font-weight: bold;
}
#editar{
    color: gold;
    font-weight: bold;
}
