<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoArgProg.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/LogoFacebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets/LogoInstagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/LogoLinkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-outline-dark"(click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-dark"(click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

