.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    margin: 0rem;
}
.redes {
    margin-right: 0.5em;
}

#logoAP {
    width: 150px;
}

img {
    width: 50px;
}

.btn {
    border-width: 2.5px;
    border-color: black;
    font-weight: bold;
}

@media (min-width: 576px) {
    .redes img{
        margin: 0.2em;
    }
}

/*--- Para la vista de celular ---*/
@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }

    .redes {
        margin: 10px;
    }
}