<div class="row" id="sombra" *ngIf="isLogged">
    <button type="button" class="btn btn-dark" routerLink="/editacercade/1" >
        Editar Persona
    </button>
</div>
<div class="row" id="acercade">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 foto">
        <img src={{persona.img}} class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nombre">
        <h4 id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
        <h6>Full Stack Developer Jr.</h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <br>
        <span>
            <h4 id="acerca">Acerca de mi:</h4>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div>